
<style type="text/css">
	.clustrmappic{
		width: 300px;
		height: 147px;
	}
	.morelist{
		text-decoration:underline;
		font-weight: 800; 
		font-size: 1em; 
		color: gray;
		position:absolute; 
		bottom:0;
	}
	.itemname{
		color:rgb(95,158,160);
		font-size:large;
		font-weight: 550;
	}
	.itemdate{
		color:gray;font-size:large;
	}
</style>


<section class="bg-light page-section" style="padding-top: 0rem;">
	<div class="container">
		<div class="row">
			<!--Paper-->
			<div class="col-md-4 col-sm-6 " style="text-align: center;">
				<br>
				<br>
				<h2 class="section-heading text-uppercase">{{ site.data.sitetext.middlecolumn.titleleft}}</h2>
				<br>
				{% for paper in site.data.sitetext.paper.item limit:3 %}
				<a class="itemname" href="{{site.baseurl}}{{paper.url}}">{{paper.title}}</a>
				<p class="itemdate">——{{paper.name}}</p> 
				{% endfor%}
				<br>
				<a href="{{ site.data.sitetext.middlecolumn.urlleft}}" class="morelist" >{{ site.data.sitetext.middlecolumn.titlereadmore}}</a>
			</div>
			
			<!--Patent-->
			<div class="col-md-4 col-sm-6 " style="text-align: center;">
				<br>
				<br>
				<h2 class="section-heading text-uppercase">{{ site.data.sitetext.middlecolumn.titlemiddle}}</h2>
				<br>
				{% for post in site.data.sitetext.patent.item limit:3 %}
				<a class="itemname" href="{{site.baseurl}}{{post.url}}">{{post.title}}</a>
				<p class="itemdate">——{{post.number}}</p>
				{% endfor%}
				<br>
				<a href="{{ site.data.sitetext.middlecolumn.urlmiddle}}" class="morelist" >{{ site.data.sitetext.middlecolumn.titlereadmore}}</a>
			</div>			
			
			<!--Notice-->
			<div class="col-md-4 col-sm-6 " style="text-align: center;">
				<br>
				<br>
				<h2 class="section-heading text-uppercase">{{ site.data.sitetext.middlecolumn.titleright}}</h2>
				<br>
				{% for post in site.categories.notice limit:3 %}
				<a class="itemname" href="{{site.baseurl}}{{post.url}}">{{post.subtitle}}</a>
				<p class="itemdate">——{{post.date| date: "%Y.%m.%-d  "}}</p>
				{% endfor%}
				<br>
				<a href="{{ site.data.sitetext.middlecolumn.urlright}}" class="morelist" >{{ site.data.sitetext.middlecolumn.titlereadmore}}</a>
			</div>
			
			<!--  已删除部分  <div class="col-md-4 col-sm-6 " style="text-align: center;">
				<br>
				<br>
				<h2 class="section-heading text-uppercase">{{ site.data.sitetext.middlecolumn.titleright}}</h2>
				<br>
				<br>
				<a href='https://clustrmaps.com/site/1bgso'  title='Visit tracker'>
					<script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=a&t=tt&d=gs02BO9F9BTtZJXuqZSiiZISqb4uK3UQb5VkBBDq23s'></script>
				</a>
			</div> -->
		</div>
	</div>
  </section>
