<style type="text/css">
	.footertitle{
    box-sizing: border-box; 
    margin: 1em 0px 1em; 
    padding: 0px; 
    border: 0px; 
    font-variant-numeric: inherit; 
    font-variant-east-asian: inherit; 
    font-weight: 800; 
    font-stretch: inherit; 
    font-size: 1.35em; 
    line-height: inherit; 
    font-family: &quot;Open Sans&quot;, sans-serif; 
    vertical-align: baseline; 
    color: {{site.data.sitetext.footer.titlecolor}};
  }
  .footeritem{
    color: {{site.data.sitetext.footer.textcolor}};
  }
  .footercopyright{
    color:{{site.data.sitetext.footer.copyrightcolor}};
  }
</style>

 <!-- Footer -->
  <footer class="footer" id="footer" style="background-color:black;">
    <div class="container">
      <div class="row align-items-center">
    <!-- Address -->
        {% for address in site.data.sitetext.footer.address  %}
        <div class="col-md-4">
          <h3 class="footertitle">{{address.title}}</h3>
          <a style="color: {{site.data.sitetext.footer.textcolor}};">{{address.labname1}}<br>{{address.labname2}}</a><br><br>
          <a style="color: {{site.data.sitetext.footer.textcolor}};">{{address.detail}}<br>{{address.postcode}}</a>
        </div>
        {% endfor %}
    <!-- relativesites --> 
        <div class="col-md-4">
          <h3 class="footertitle">{{site.data.sitetext.footer.relativesitestitle}}</h3>
          {% for relativesites in site.data.sitetext.footer.relativesites  %}
          <a class="footeritem" href="{{ relativesites.url }}">{{relativesites.title}}</a><br>
          {% endfor %}
        </div>
    <!-- commonservices --> 
        <div class="col-md-4">
          <h3 class="footertitle">{{site.data.sitetext.footer.commonservicestitle}}</h3>
          {% for commonservices in site.data.sitetext.footer.commonservices  %}
          <a class="footeritem" href="{{ commonservices.url }}">{{commonservices.title}}</a><br>
          {% endfor %}
        </div>
    <!-- Copyright --> 
        <div class="col-lg-12 text-center">>
          <br>
          <span class="copyright footercopyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
        </div>

      </div>
    </div>
  </footer>
{% if page.layout == "page" or page.layout == "post" %}
<script>
fixPageShort();
function fixPageShort() {
  if(window.innerHeight > document.body.offsetHeight) {
    document.getElementById("footer").style.position="fixed";
    document.getElementById("footer").style.bottom=0;
    document.getElementById("footer").style.right=0;
    document.getElementById("footer").style.left=0;
    document.getElementById("footer").style.width="100%";
  }
}
</script>
{% endif %}
  <!-- End Footer -->