---
layout: page
title: "专利成果"
background: grey
---
<style type="text/css">
  .paperinfo {
    box-sizing: border-box; 
    padding: 0px; 
    border: 0px; 
    font-variant-numeric: inherit; 
    font-variant-east-asian: inherit; 
    font-stretch: inherit;
    line-height: inherit; 
    font-family: &quot;Open Sans&quot;, sans-serif; 
    vertical-align: baseline;
  }
  .paperinfotitle{
    font-weight: 800; 
    font-size: 1.45em;
    margin: 0px 0px 0.5em; 
    color: rgb(68, 68, 68);
  }
  .paperinfoname{
    font-size: 1em; 
    margin: 0px 0px 0.5em; 
    color: rgb(105, 105, 105);
  }
  .paperinfoagency{
    font-size: 1em; 
    margin: 0px 0px 2.2em; 
    color: rgb(105, 105, 105);
  }
  .authorized{
    background: #F0E68C;
  }

</style>

<section class="page-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext.patent.title | default: "Patent" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext.patent.text | default: "" }}</h3>
      </div>
    </div>

    <!-- Content -->
    <article>
      {% assign count = 0 %}
      {% for patent in site.data.sitetext.patent.item %}
      {% assign count = count | plus: 1 %}
      {% if patent.download %}
      <h3 class="paperinfo paperinfotitle"><a href="{{ site.baseurl }}{{patent.url}}" download="{{patent.download}}"
        style="color:rgb(86,174,200);">{{count}}. {{patent.title}}</a></h3>
        <p class="paperinfo paperinfoname">{{patent.source}}</p>
        <p class="paperinfo paperinfoagency">{{patent.number}}
          {% if patent.success %}
          <strong class="authorized">已授权</strong>
          {% endif %}
        </p>
      {% else %}
        <h3 class="paperinfo paperinfotitle">{{count}}. {{patent.title}}</h3>
        <p class="paperinfo paperinfoname">{{patent.source}}</p>
        <p class="paperinfo paperinfoagency">{{patent.number}}
          {% if patent.success %}
          <strong class="authorized">已授权</strong>
          {% endif %}
        </p>
      {% endif %}
      
      {% endfor %}
    </article>
    <!-- End Content -->
  </div>
</section>